body {
  width: 100vw;
  margin: 0;
}

.parent {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 7fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.menuTop {
  z-index: 10;
  height: 11vh;
  grid-area: 1 / 1 / 2 / 3;
  border-bottom: 1px solid #09f;
  background: linear-gradient(
      270deg,
      rgba(204, 0, 255, 0.35) 0.01%,
      rgba(0, 0, 0, 0.2) 3.65%,
      rgba(0, 0, 0, 0.2) 96.35%,
      rgba(204, 0, 255, 0.35) 100%
    ),
    linear-gradient(
      180deg,
      #09f -15.31%,
      #000 21.8%,
      #02060b 83.67%,
      #09f 116.67%
    );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.inicio {
  font-family: GlichInside;
}

.inicio a {
  color: white;
  text-decoration: none;
}

.body {
  height: 89vh;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input[type="text"] {
  width: 466px;
  height: 47px;
  border: 5px solid;
  border-image: linear-gradient(to bottom, #0099ff, #cc00fff9);
  border-image-slice: 1;
}

.body div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.body div button {
  width: 6vw;
  height: 3vh;
  border-radius: 50px;
  font-size: 2vh;
}
